{
	order wake_on_lan before respond
	acme_dns cloudflare {env.CF_API_TOKEN}
	dynamic_dns {
		provider cloudflare {env.CF_API_TOKEN}
		domains {
			{$DOMAIN} dyn *.dyn ipv6
		}
		versions ipv6
		ip_source simple_http https://api6.ipify.org
	}
}

:80 {
	root * /srv/static
	file_server
	basicauth /auth/* {
		{env.BASIC_AUTH_USER} {env.BASIC_AUTH_PASSWD}
	}
}

dns.{$DOMAIN} {
	respond OK
}

*.dyn.{$DOMAIN}, *.lan.{$DOMAIN}, *.lan.{$DOMAIN}:80, lan.{$DOMAIN} {
	encode zstd gzip

	@web {
		host web.dyn.{$DOMAIN}
	}
	handle @web {
		root * /srv/static/web
		file_server
	}

	@test {
		host test.dyn.{$DOMAIN}
		host test.lan.{$DOMAIN}
	}
	handle @test {
		respond OK
	}

	@notinternal {
		host lan.{$DOMAIN}
		host *.lan.{$DOMAIN}
		not remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 fe80::/64
	}
	handle @notinternal {
		respond "Access denied" 403
	}

	@ha {
		host ha.dyn.{$DOMAIN}
		host ha.lan.{$DOMAIN}
	}
	handle @ha {
		reverse_proxy core:8123
	}

	@pw host pw.lan.{$DOMAIN}
	handle @pw {
		reverse_proxy vaultwarden:3011
	}

	@dl host dl.lan.{$DOMAIN}
	handle @dl {
		reverse_proxy pyload-ng:8000
	}

	@cnl host cnl.lan.{$DOMAIN}
	handle @cnl {
		basicauth {
			{env.CNL_AUTH_USER} {env.CNL_AUTH_PASSWD}
		}
		reverse_proxy pyload-ng:9666
	}

	@jf {
		host jf.dyn.{$DOMAIN}
		host jf.lan.{$DOMAIN}
	}
	handle @jf {
		reverse_proxy jellyfin:8096
	}

	@portainer host portainer.lan.{$DOMAIN}
	handle @portainer {
		reverse_proxy core:9000
	}

	@snapcast host snapcast.lan.{$DOMAIN}
	handle @snapcast {
		reverse_proxy core:1780
	}

	@hyperion host hyperion.lan.{$DOMAIN}
	handle @hyperion {
		reverse_proxy hyperion-ng:8090
	}

	@omv host omv.lan.{$DOMAIN}
	handle @omv {
		reverse_proxy nas:5000
	}

	@nas host nas.lan.{$DOMAIN}
	handle @nas {
		reverse_proxy nas:5001
	}

	@vac host wz-vac.lan.{$DOMAIN}
	handle @vac {
		reverse_proxy wz-vac:80
	}

	@docs host docs.lan.{$DOMAIN}
	handle @docs {
		reverse_proxy paperless:8000
	}

	@budget host budget.lan.{$DOMAIN}
	handle @budget {
		reverse_proxy actual-server:5006
	}

	@books host books.lan.{$DOMAIN}
	handle @books {
		reverse_proxy nas:8083
	}

	@nvr host nvr.lan.{$DOMAIN}
	handle @nvr {
		reverse_proxy frigate:5000
	}

	@rtc host rtc.lan.{$DOMAIN}
	handle @rtc {
		reverse_proxy frigate:1984
	}
}
