{
	order wake_on_lan before respond
	acme_dns cloudflare {env.CF_API_TOKEN}
	dynamic_dns {
		provider cloudflare {env.CF_API_TOKEN}
		domains {
			{$DOMAIN} dyn *.dyn
		}
		versions ipv6
		ip_source simple_http https://api6.ipify.org
	}
}

:80 {
	root * /srv/static
	file_server
	basicauth /auth/* {
		{env.BASIC_AUTH_USER} {env.BASIC_AUTH_PASSWD}
	}
}

dns.dulli.me {
	respond OK
}

*.dyn.{$DOMAIN}, *.lan.{$DOMAIN} {
	encode zstd gzip

	@notinternal {
		host *.lan.{$DOMAIN}
		not remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 fe80::/64
	}
	handle @notinternal {
		respond "Access denied" 403
	}

	@ha {
		host ha.dyn.{$DOMAIN}
		host ha.lan.{$DOMAIN}
	}
	handle @ha {
		reverse_proxy core:8123
	}

	@rss {
		host rss.dyn.{$DOMAIN}
		host rss.lan.{$DOMAIN}
	}
	handle @rss {
		reverse_proxy miniflux:8080
	}

	@pw {
		host pw.dyn.{$DOMAIN}
		host pw.lan.{$DOMAIN}
	}
	handle @pw {
		reverse_proxy vaultwarden:3011
	}

	@dl {
		host dl.dyn.{$DOMAIN}
		host dl.lan.{$DOMAIN}
	}
	handle @dl {
		reverse_proxy pyload-ng:8000
	}

	@cnl {
		host cnl.dyn.{$DOMAIN}
		host cnl.lan.{$DOMAIN}
	}
	handle @cnl {
		basicauth {
			{env.CNL_AUTH_USER} {env.CNL_AUTH_PASSWD}
		}
		reverse_proxy pyload-ng:9666
	}

	@jf {
		host jf.dyn.{$DOMAIN}
		host jf.lan.{$DOMAIN}
	}
	handle @jf {
		reverse_proxy nas:8096
	}
	handle_errors {
		@jf502 {
			host jf.dyn.{$DOMAIN}
			host jf.lan.{$DOMAIN}
			expression {err.status_code} == 502
		}
		handle @jf502 {
			wake_on_lan 00:11:32:42:e8:21 192.168.188.255:9
			reverse_proxy nas:8096 {
				lb_try_duration 120s
			}
		}
	}

	@portainer host portainer.lan.{$DOMAIN}
	handle @portainer {
		reverse_proxy core:9000
	}

	@snapcast host snapcast.lan.{$DOMAIN}
	handle @snapcast {
		reverse_proxy core:1780
	}

	@hyperion host hyperion.lan.{$DOMAIN}
	handle @hyperion {
		reverse_proxy hyperion-ng:8090
	}

	@omv host omv.lan.{$DOMAIN}
	handle @omv {
		reverse_proxy nas:5000
	}

	@nas host nas.lan.{$DOMAIN}
	handle @nas {
		reverse_proxy nas:5001
	}

	@vac host wz-vac.lan.{$DOMAIN}
	handle @vac {
		reverse_proxy wz-vac:80
	}

	@docs host docs.lan.{$DOMAIN}
	handle @docs {
		reverse_proxy paperless:8000
	}

	@budget host budget.lan.{$DOMAIN}
	handle @budget {
		reverse_proxy actual-server:5006
	}

	@books host books.lan.{$DOMAIN}
	handle @books {
		reverse_proxy nas:8083
	}

	@nvr host nvr.lan.{$DOMAIN}
	handle @nvr {
		reverse_proxy frigate:5000
	}

	@rtc host rtc.lan.{$DOMAIN}
	handle @rtc {
		reverse_proxy frigate:1984
	}
}
