{
        order wake_on_lan before respond
        acme_dns cloudflare {env.CF_API_TOKEN}
        dynamic_dns {
                provider cloudflare {env.CF_API_TOKEN}
                domains {
                        {$DOMAIN} vpn home jelly books cash noco
                }
                versions ipv4
        }
}

:80 {
        root * /srv/static
        file_server
        basicauth /auth/* {
                {env.BASIC_AUTH_USER} {env.BASIC_AUTH_PASSWD}
        }
}

home.{$DOMAIN} {
        reverse_proxy localhost:8123
}

cash.{$DOMAIN} {
        reverse_proxy localhost:5006
}

noco.{$DOMAIN} {
        reverse_proxy localhost:8080
}

jelly.{$DOMAIN}, books.{$DOMAIN}, omv.lan.{$DOMAIN}, nas.lan.{$DOMAIN} {
        reverse_proxy nas
        handle_errors {
                @502 expression {err.status_code} == 502
                handle @502 {
                        wake_on_lan 00:11:32:42:e8:21
                        reverse_proxy nas {
                                lb_try_duration 120s
                        }
                }
        }
}

*.lan.{$DOMAIN} {
        @internal {
                remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 fe80::/64
        }
        handle @internal {
                @portainer host portainer.lan.{$DOMAIN}
                handle @portainer {
                        reverse_proxy localhost:9000
                }

                @snapcast host snapcast.lan.{$DOMAIN}
                handle @snapcast {
                        reverse_proxy localhost:1780
                }

                @hyperion host hyperion.lan.{$DOMAIN}
                handle @hyperion {
                        reverse_proxy localhost:8090
                }

                @vac host wz-vac.lan.{$DOMAIN}
                handle @vac {
                        reverse_proxy wz-vac:80
                }

                @kodi host kodi.lan.{$DOMAIN}
                handle @kodi {
                        reverse_proxy wz-htpc:8080
                }
        }
        respond "Access denied" 403
}
