{
        acme_dns cloudflare {env.CF_API_TOKEN}
}

jelly.{$DOMAIN} {
        reverse_proxy localhost:8096
}

books.{$DOMAIN} {
        reverse_proxy localhost:8083
}

*.lan.{$DOMAIN} {
        @internal {
                remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 fe80::/64
        }
        handle @internal {
                @omv host omv.lan.{$DOMAIN}
                handle @omv {
                        reverse_proxy localhost:5000
                }

                @nas host nas.lan.{$DOMAIN}
                handle @nas {
                        reverse_proxy localhost:5001
                }
        }
        respond "Access denied" 403
}
